FakeSerialData1.sav
m1s12345.xlsx
MEMORE 2.1 Templates.pdf
MEMORE SAS documentation V2.1.pdf
MEMORE SPSS documentation V2.1.mht
MEMORE SPSS documentation V2.1.pdf
Montoya_2018_BRM.pdf
Montoya_Hayes_2017_PM.pdf
ParallelSerial.sav
parallelserialimport.sas
SAS47B4.tmp
SAStestingfile.sas
Updates to V2.1.txt
